.pokerCard {
  position: relative;
  margin-top: 10px;
  background-color: white;
  background-size: 50px auto;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.8);
  display: grid;
  justify-items: end;
  align-items: center;
  font-size: 4.5rem;

  &::before,
  &::after {
    content: "SP";
    position: absolute;
    padding-bottom: 20px;
    font-size: 1.5rem;
    color: black;
    background-size: 25px auto;
  }

  &::before {
    top: 0;
    left: 5px;
  }

  &::after {
  right: 5px;
  bottom: 0;
  transform: rotate(180deg);
  }

  &.lobbyCard {
    grid-template-rows: 20% 60% 20%;
  }

  &.smallCard {
    width: 80px;
    height: 130px;
    font-size: 3.5rem;
  }

  &.bigCard {
    width: 100px;
    height: 150px;
  }

  &.activePokerCard {
    background-color: #B6EEE2;
  }
}

.addCard.pokerCard::before,
.addCard.pokerCard::after {
  content:"";
}

.pokerCardValue {
  margin: 0;
  font-weight: bold;
  justify-self: center;
}

.addIcon {
  width: 80%;
  height: auto;
  justify-self: center;
}

.editIcon {
  padding-top:7px;
}